# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.spec

# Executables & packages
*.exe
*.pkg

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.venv/
env/
venv/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
